{
  "agent": {
    "metrics_collection_interval": 10,
    "logfile": "/var/log/amazon-cloudwatch-agent.log",
    "debug": true
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/databricks/spark/work/*/*/stderr",
            "log_group_name": "/databricks/{{ env("DB_CLUSTER_ID") }}",
            "log_stream_name": "databricks-executor-stderr"
          },
          {
            "file_path": "/databricks/spark/work/*/*/stdout",
            "log_group_name": "/databricks/{{ env("DB_CLUSTER_ID") }}",
            "log_stream_name": "databricks-executor-stdout"
          }
        ]
      }
    }
  },
  "metrics": {
    "namespace": "{{ env("DB_CLUSTER_ID") }}",
    "metrics_collected": {
      "statsd": {
        "service_address": ":8125"
      },
      "cpu": {
        "resources": [
          "*"
        ],
        "measurement": [
          {
            "name": "cpu_usage_idle",
            "rename": "EXEC_CPU_USAGE_IDLE",
            "unit": "Percent"
          },
          {
            "name": "cpu_usage_iowait",
            "rename": "EXEC_CPU_USAGE_IOWAIT",
            "unit": "Percent"
          },
          {
            "name": "cpu_time_idle",
            "rename": "EXEC_CPU_TIME_IDLE",
            "unit": "Percent"
          },
          {
            "name": "cpu_time_iowait",
            "rename": "EXEC_CPU_TIME_IOWAIT",
            "unit": "Percent"
          }
        ],
        "totalcpu": true
      },
      "disk": {
        "resources": [
          "/"
        ],
        "measurement": [
          {
            "name": "disk_free",
            "rename": "EXEC_DISK_FREE",
            "unit": "Gigabytes"
          },
          {
            "name": "disk_inodes_free",
            "rename": "EXEC_DISK_INODES_FREE",
            "unit": "Count"
          },
          {
            "name": "disk_inodes_total",
            "rename": "EXEC_DISK_INODES_TOTAL",
            "unit": "Count"
          },
          {
            "name": "disk_inodes_used",
            "rename": "EXEC_DISK_INODES_USED",
            "unit": "Count"
          }
        ]
      },
      "diskio": {
        "resources": [
          "*"
        ],
        "measurement": [
          {
            "name": "diskio_iops_in_progress",
            "rename": "EXEC_DISKIO_IOPS_IN_PROGRESS",
            "unit": "Megabytes"
          },
          {
            "name": "diskio_read_time",
            "rename": "EXEC_DISKIO_READ_TIME",
            "unit": "Megabytes"
          },
          {
            "name": "diskio_write_time",
            "rename": "EXEC_DISKIO_WRITE_TIME",
            "unit": "Megabytes"
          }
        ]
      },
      "mem": {
        "measurement": [
          {
            "name": "mem_available",
            "rename": "EXEC_MEM_AVAILABLE",
            "unit": "Megabytes"
          },
          {
            "name": "mem_total",
            "rename": "EXEC_MEM_TOTAL",
            "unit": "Megabytes"
          },
          {
            "name": "mem_used",
            "rename": "EXEC_MEM_USED",
            "unit": "Megabytes"
          },
          {
            "name": "mem_used_percent",
            "rename": "EXEC_MEM_USED_PERCENT",
            "unit": "Megabytes"
          },
          {
            "name": "mem_available_percent",
            "rename": "EXEC_MEM_AVAILABLE_PERCENT",
            "unit": "Megabytes"
          }
        ]
      },
      "net": {
        "resources": [
          "eth0"
        ],
        "measurement": [
          {
            "name": "net_bytes_recv",
            "rename": "EXEC_NET_BYTES_RECV",
            "unit": "Bytes"
          },
          {
            "name": "net_bytes_sent",
            "rename": "EXEC_NET_BYTES_SENT",
            "unit": "Bytes"
          }
        ]
      }
    },
    "append_dimensions": {
      "InstanceId": "${aws:InstanceId}"
    }
  }
}